# Build artifacts
*.pyc
*.o

# Build folders
backend/build
bin/
build/
doc/
etc/
lib/
share/

# Scons
.sconf_temp/
.sconsign.dblite

# Ctags
.ctags
.tags*
tags

# Miscellaneous
*~
config.log
root_fs_beta2
frontend/src/gbuilder/Core/paths.py
